.advantages-photo {
  display: flex;

  img {
    object-fit: cover;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
  }
}
