.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: @base-color;
  padding: 18px;

  @media (min-width: @tablet-width) {
    padding: 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 50px;
  }
}

.item--first {
  @media (max-width: @tablet-width) {
    padding: 54px 18px 40px;
    background-image: url("../img/advantages/mobile-divider.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.advantages-item--compact {
  @media (max-width: @tablet-width) {
    min-height: 112px;
    padding: 25px 18px 25px 65px;
    align-items: flex-start;

    p {
      text-align: left;
    }
  }
}

.advantages-item--with-image {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 158px;
    min-height: 330px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    padding-top: 170px;
  }
}

.advantages-item--without-image {
  @media (min-width: @tablet-width) {
    min-height: 256px;
    box-sizing: border-box;
  }
}

.advantages-item--housing::before {
  position: absolute;
  content: url(../img/index/icon-house.svg); /* stylelint-disable-line */
  width: 40px;
  height: 38px;

  @media (max-width: @tablet-width) {
    left: 10px;
  }

  @media (min-width: @tablet-width) {
    transform: scale(2);
    top: 74px;
  }
}

.advantages-item--food::before {
  position: absolute;
  content: url(../img/index/icon-burger.svg); /* stylelint-disable-line */
  width: 40px;
  height: 36px;

  @media (max-width: @tablet-width) {
    left: 10px;
  }

  @media (min-width: @tablet-width) {
    transform: scale(2);
    top: 74px;
  }
}

.advantages-item--gifts::before {
  position: absolute;
  content: url(../img/index/icon-gift.svg); /* stylelint-disable-line */
  width: 32px;
  height: 38px;

  @media (max-width: @tablet-width) {
    left: 10px;
  }

  @media (min-width: @tablet-width) {
    transform: scale(2);
    top: 74px;
  }
}

.item--primary-accent {
  background-color: @primary-accent;
  color: @text-color-primary;
}

.item--secondary-accent {
  background-color: @secondary-accent;
  color: @text-color-secondary;

  .advantages-item__counter::before {
    background-color: @text-color-secondary;
    box-shadow: 40px 0 0 0 @text-color-secondary;
  }
}

.advantages-item__title {
  .font-title();

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages-item__counter {
  .font-text();
  text-transform: uppercase;
  margin: 11px 0 0 0;
  position: relative;
}

.advantages-item__counter::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -12px;
  width: 8px;
  height: 1px;
  background-color: @text-color-primary;
  box-shadow: 40px 0 0 0 @text-color-primary;
}

.advantages-item__discription {
  .font-text();
  text-transform: uppercase;
  margin: 17px 0 0 0;
}
