.block-photo {
  background-color: @base-color;
}

.photo__item--full-wide {
  @media (min-width: @tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 3;
  }
}

.photo__discription-wrapper {
  padding: 15px 0 11px;
}

.photo__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.photo__text {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.like__counter {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
