.block-video {
  background-color: @base-color;
}

.block-video__container {
  padding: 16px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

.video__title {
  margin: 0;
  .font-title();
  color: @text-color-secondary;
}

.video__text {
  margin: 0;
  .font-text();
  color: @text-color-subsecondary;
}
