.block-video {
  background-color: @base-color;
}

.block-video__container {
  position: relative;
  padding: 18px 20px 8px;

  @media (min-width: @tablet-width) {
    padding: 62px 60px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 200px 86px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 48px;
    height: 54px;
    background-color: rgba(255, 255, 255, 0.7);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    bottom: 70px;
    left: 50%;
    margin-left: -24px;

    @media (min-width: @tablet-width) {
      bottom: 262px;
    }

    @media (min-width: @desktop-width) {
      bottom: 306px;
    }
  }
}

.block-video__title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @text-color-secondary;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.block-video__text {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: @text-color-subsecondary;
  margin-top: 26px;
  padding: 0 18px 0 22px;

  @media (min-width: @tablet-width) {
    margin-top: 32px;
  }
}

.video__preview {
  display: block;
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 82px;
  }
}
