.block-video {
  background-color: @base-color;
}

.block-video__container {
  padding: 16px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;

  @media (min-width: @tablet-width) {
    padding: 58px 60px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 200px 60px;
  }
}

.video__title {
  margin: 0;
  .font-title();
  color: @text-color-secondary;
}

.video__text {
  margin: 0;
  .font-text();
  color: @text-color-subsecondary;
}
