.hero-compact {
  margin: 0;
  padding: 52px 46px 67px;
  background-image: url("/images/index/divider-s.svg"), url("/images/index/hero.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-color: #999999;
}
