.hotel-search {
  padding: 39px 18px 49px;
  background-color: @base-color;

  @media (min-width: @tablet-width) {
    padding: 61px 155px 48px;
  }

  @media (min-width: @desktop-width) {
    padding: 61px 371px 66px;
  }
}

.search__text-wrapper {
  padding: 0 11px 32px;

  @media (min-width: @tablet-width) {
    padding: 0 11px 41px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 11px 46px;
  }
}

.hotel-search__title {
  .font-title();
  font-size: 21px;
  color: @text-color-secondary;
}

.hotel-search__discription {
  .font-text();
  text-transform: uppercase;
  color: @text-color-subsecondary;
}
