.hotel-search {
  padding: 39px 18px 49px;
  background-color: @base-color;

  @media (min-width: @tablet-width) {
    padding: 59px 155px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 371px 66px;
  }
}

.hotel-search__text-wrapper {
  padding: 0 11px 32px;

  @media (min-width: @tablet-width) {
    padding: 0 11px 41px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 11px 46px;
  }
}

.hotel-search__title {
  .font-title();
  font-size: 21px;
  color: @text-color-secondary;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.hotel-search__description {
  .font-text();
  text-transform: uppercase;
  color: @text-color-subsecondary;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    margin-top: 32px;
  }

  .br-tablet {
    display: none;

    @media (min-width: @tablet-width) {
      display: inline;
    }
  }
}
