.main-footer {
  background-color: @base-color;
}

.footer__wrapper {
  padding: 28px 0 22px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: @tablet-width) {
    padding: 36px 0;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer__tag {
  .font-title-plus();
  .style-interactive-text();
  text-decoration: none;
}

.social__list {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.footer__academy-site {
  margin-top: 40px;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.academy__link {
  .font-text();
  .style-interactive-text();
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin-right: 32px;
}

.academy__link-icon {
  position: absolute;
  right: -32px;
  bottom: -8px;
}
