.main-header {
  background-color: @base-color;
  min-height: 56px;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  margin-left: -93px;
}
