.style-interactive-text() {
  color: @interactive-text-basic;

  svg {
    fill: @interactive-text-basic;
  }

  &:hover {
    color: @interactive-text-hover;

    svg {
      fill: @interactive-text-hover;
    }
  }

  &:active {
    color: @interactive-text-active;

    svg {
      fill: @interactive-text-active;
    }
  }
}
