.page-intro {
  background-color: @base-color;
}

.page-intro__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 36px 20px 26px;

  @media (min-width: @tablet-width) {
    padding: 48px 124px 56px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 358px 45px;
  }
}

.intro__title {
  .font-title();
  color: @text-color-secondary;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.intro__text {
  .font-text();
  text-transform: uppercase;
  color: @text-color-subsecondary;
}

