.review-block {
  background-color: @base-color;
}

.review-block__container {
  padding: 24px 20px;
}

.block__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.block__content-wrapper {
  padding-top: 20px;
}

.review__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review__label {
  display: block;
}

.review__field {
  padding: 16px;
  background-color: @field-color;
  width: 280px;
  box-sizing: border-box;
  border: 0;
}

.text-area__wrapper {
  padding: 16px;
  background-color: @field-color;
}

.review__text-area::placeholder {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.review__text-area {
  border: 0;
  padding: 0;
  background-color: @field-color;
  width: 100%;
  min-height: 118px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}
