.review-form {
  background-color: @base-color;
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    grid-template-columns: 2fr;
    gap: 56px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 60px 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px 0 120px;
  }
}

.review-form__button-wrapper {
  margin-top: 56px;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.review-form__button-legend {
  text-align: right;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
