@base-color: #ffffff;
@primary-accent: #81b3d2;
@secondary-accent: #eeeeee;
@text-color-primary: #ffffff;
@text-color-secondary: #000000;
@text-color-subsecondary: #333333;
@field-color: #f2f2f2;
@tablet-width: 768px;
@desktop-width: 1200px;
